<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://toolkit.alibaba-inc.com/dtd/log4j/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- ===================================================================== -->
    <!-- 以下是appender的定义，定义日志输出的目的地、输出方式及过滤级别        -->
    <!-- ===================================================================== -->
    <appender name="root-log" class="org.apache.log4j.ConsoleAppender">
        <param name="append" value="true"/>
        <param name="encoding" value="utf-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %l - %m%n"/>
        </layout>
    </appender>


    <!-- ===================================================================== -->
    <!-- Root logger 所有logger的基类，没有定义的logger将会使用root logger     -->
    <!-- ===================================================================== -->
    <root>
        <level value="DEBUG"/>
        <appender-ref ref="root-log"/>
    </root>
</log4j:configuration>